      <div class="ui centered fluid pink text menu" id="footer">
                <a class="item">
                  Help
                </a>
                <a class="item active">
                  Jobs
                </a>
                <a class="item">
                  Most Popular
                </a>                      
        </div>
    </body>
</html>