<% include ../partials/header %>

<!-- at the receipts route the receipt is created by being posted by the method POST  -->
<form action="/receipts" method="POST"> 
    <div class="container">
        <h1 style="text-align: center">Add a new Receipt here</h1>                
        <div class="form-group">
            <input class="form-control" type="text" name="foodName" placeholder="name">
        </div>

        <div class="form-group">
                <input class="form-control" type="text" name="duration"  placeholder="time to prepare">
        </div>

        <div class="form-group">
            <input class="form-control" type="text" name="image"  placeholder="image url">
        </div>
        
        <div class="form-group">
            <textarea class="form-control" rows="5" name="ingredients" placeholder="products"></textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Sumbit my Receipt!</button>
        </div>

        <a href="/receipts">Go Back</a>   
        <!-- the new receipt is now available at the /rceeipts route -->
        
    </div>  
</form>


<% include ../partials/footer %>


